<div >
    <div class="routesbar">
        <a class="route" routerLink="addFriends" routerLinkActive="active-link">Add Friends</a>
        <a class="route" routerLink="sentRequests" routerLinkActive="active-link">Send Requests</a>
        <a class="route" routerLink="incommingRequests" routerLinkActive="active-link">Incomming Request</a>
        <a class="route" routerLink="allFriends" routerLinkActive="active-link">Friends</a>
    </div>
    <div class="content">
        <hr>
        <router-outlet ></router-outlet>
    </div>
</div>