<div class=container>
    <div class="cards">
        <div class="card">
            <div class="detailsCrad" *ngIf="detailsVisible; else detailsForm">
                <div class="details">
                    <label>DOB </label> <label class="value" (click)="enableEdit()">{{date | age}}</label>
                </div>
                <div class="details">
                    <label>Status </label> <label class="value" (click)="enableEdit()">{{user.status}}</label>
                </div>
                <div class="details">
                    <label>Gender </label> <label class="value" (click)="enableEdit()">{{user.gender}}</label>
                </div>
                <div class="details">
                    <label>Email </label> <label class="value" (click)="enableEdit()">{{user.email}}</label>
                </div>
                <div class="details">
                    <label>Pincode </label> <label class="value" (click)="enableEdit()">{{user.pincode}}</label>
                </div>
                <div class="details">
                    <label>City </label> <label class="value" (click)="enableEdit()">{{user.city}}</label>
                </div>
                <div class="details">
                    <label>State </label> <label class="value" (click)="enableEdit()">{{user.state}}</label>
                </div>
            </div>
            <ng-template #detailsForm>
                <div class="detailsForm">
                        <div class="details">
                            <label>DOB </label> <input type="text" [value]="user.dob" (change)="disableEdit()" />
                        </div>
                        <div class="details">
                            <label>Status </label> <input type="text" [value]="user.status" (change)="disableEdit()" />
                        </div>
                        <div class="details">
                            <label>Gender </label> <input type="text" [value]="user.gender" (change)="disableEdit()" />
                        </div>
                        <div class="details">
                            <label>Email </label> <input type="text" [value]="user.email" (change)="disableEdit()" />
                        </div>
                        <div class="details">
                            <label>Pincode </label> <input type="text" [value]="user.pincode"
                                (change)="disableEdit()" />
                        </div>
                        <div class="details">
                            <label>City </label> <input type="text" [value]="user.city" (change)="disableEdit()" />
                        </div>
                        <div class="details">
                            <label>State </label> <input type="text" [value]="user.state" (change)="disableEdit()" />
                        </div>
                </div>
            </ng-template>
        </div>
        <div class="picture">
            <div class="profilepicture">
                <img class="image" [src]="'data:image/jpeg;base64,' + user.profilePic" alt="">
            </div>
            <div class="imageUploadButton">
                <input id="files" type="file" style="visibility:hidden" (change)="onFileSelected($event)">
                <label for="files" class="btn">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                        fill="#000000">
                        <path d="M0 0h24v24H0z" fill="none" />
                        <path
                            d="M3 8c0 .55.45 1 1 1s1-.45 1-1V6h2c.55 0 1-.45 1-1s-.45-1-1-1H5V2c0-.55-.45-1-1-1s-1 .45-1 1v2H1c-.55 0-1 .45-1 1s.45 1 1 1h2v2z" />
                        <circle cx="13" cy="14" r="3" />
                        <path
                            d="M21 6h-3.17l-1.24-1.35c-.37-.41-.91-.65-1.47-.65h-6.4c.17.3.28.63.28 1 0 1.1-.9 2-2 2H6v1c0 1.1-.9 2-2 2-.37 0-.7-.11-1-.28V20c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2zm-8 13c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5z" />
                    </svg>
                </label>
            </div>
            <div class="username">
                <label id="username">{{user.username}}</label>
            </div>
        </div>
    </div>
</div>